
.min-h-screen{
    min-height: 100vh;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.flex-col{
    flex-direction: column;
}
.font-bold{
    font-weight: bolder;
}
.my-1{
    padding-left: 80px;;
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 20px;
}
.px-2{
    padding-left: 13px;
    padding-right: 13px;
}
.text-orange{
    color: rgb(255, 128, 0);
}
.btn{
    padding: 4px 10px;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    background-color: rgb(255, 128, 0);
    cursor: pointer;
}
overflow-x-hidden{
    overflow-x: hidden;
}
.text-center{
    text-align: center;
}
.btn1{
    margin: 4px;
    padding: 5px 3px;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    background-color: rgb(255, 128, 0);
    cursor: pointer;
    margin-top: 15px;
    margin-left: 175px;
}
@media only screen and (max-width: 600px){
    my-1{
        font-size: 10px;
    }
}